{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.¡
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="row mt-3">
	{% for row in rows %}
		<div class="col-sm-6 col-sx-6 col-md-4 mb-4">
			<div class='card h-100 p-2' style='border-radius: 20px;'>
				<div class='card-body'>
					<p class='card-text'>
						<b>
							{{row['content']['#row']._entity.field_codigo_tramite.value}}
						</b>
					</p>
					<h4 class='card-title text-white' style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;">
						{{row['content']['#row']._entity.field_nombre_tramite.value}}
					</h4>
					<p class='card-text' style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;">
						{{row['content']['#row']._entity.field_descripcion_tramite.value}}
					</p>
				</div>
				<div class='card-footer bg-transparent text-end' style='border: none;'>
					<a href="{{url('<front>')}}/node/{{row.content['#row']._entity.nid.value}}" class='btn btn-sm boton-tramite'>Ver trámite</a>
				</div>
			</div>

			{# {{dump(row['content']['#row']._entity.field_codigo_tramite.value)}}
			{{dump(row['content']['#row']._entity.field_nombre_tramite.value)}}
			{{dump(row['content']['#row']._entity.field_descripcion_tramite.value)}} #}

		</div>
	{% endfor %}

</div>
